---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout>
  <div class="container">
    <h1 class="text-center">Simple Web Page</h1>
    <div id="messageBox" class="jumbotron"></div>

    <div id="okta-login-container"></div>
  </div>
</Layout>
