---
import { useStore } from "@nanostores/react";
import Layout from "../layouts/Layout.astro";
import { userInfo } from "../store/authStore";
import type { Store } from "nanostores";
export const prerender = true;

const posts = await fetch(`${import.meta.env.ASTRO_APP_URL}/api/posts`)
  .then((response) => response.json())
  .catch((err) => {
    console.log("err", err);
  });

console.log("userInfo.value");
---

<Layout>
  <h3 class="flex text-center justify-center">Dynamic Posts</h3>
  {
    posts?.posts?.map((post: any) => {
      return (
        <div class="mb-2 p-2 rounded-md bg-gray-200 hover:bg-gray-400">
          <h5>
            <span class="pr-1">{post?.id}.</span>
            {post?.title}
          </h5>
          <p>{post?.body}</p>
        </div>
      );
    })
  }
</Layout>
