---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import SignInForm from "../components/auth/SignInForm";
---

<!doctype html>
<html>
  <head>
    <BaseHead title={"Sign-In"} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <SignInForm client:load />
  </body>
</html>
